<p>Hello <%= @resource.email %>!,</p>

<p>
  Your HRLite account has been created.
</p>

<p>
  Click the link below to set your password:
</p>

<p>
  <%= link_to "Set my password",
      edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  This link will expire in a few hours.
</p>

<p>
  — HRLite Team
</p>
